REACT_APP_VERSION=$npm_package_version
REACT_APP_GRAPHQL_ENDPOINT_MSTABLE=https://api.thegraph.com/subgraphs/name/mstable/mstable-protocol-kovan

# Not actively maintained at the moment
REACT_APP_GRAPHQL_ENDPOINT_BALANCER=https://api.thegraph.com/subgraphs/name/balancer-labs/balancer-kovan

# This is mainnet: no Uniswap Ropsten subgraph is actively maintained at the moment
REACT_APP_GRAPHQL_ENDPOINT_UNISWAP=https://api.thegraph.com/subgraphs/name/ianlapham/uniswapv2

REACT_APP_GRAPHQL_ENDPOINT_BLOCKS=https://api.thegraph.com/subgraphs/name/blocklytics/kovan-blocks
REACT_APP_MTA_ADDRESS=0xcDa64b5D3cA85800AB9f7409686985b59F2B9598
REACT_APP_MUSD_ADDRESS=0x70605Bdd16e52c86FC7031446D995Cf5c7E1b0e7
REACT_APP_MUSD_SAVINGS_ADDRESS=0x54Ac0bdf4292F7565Af13C9FBEf214eEEB2d0F87
REACT_APP_CHAIN_ID=42
REACT_APP_PORTIS_DAPP_ID=
REACT_APP_FORTMATIC_API_KEY=
REACT_APP_SQUARELINK_CLIENT_ID=
REACT_APP_RPC_API_KEY=
REACT_APP_RPC_URL=https://kovan.infura.io/v3/
REACT_APP_SENTRY_DSN=
