REACT_APP_VERSION=$npm_package_version
REACT_APP_GRAPHQL_ENDPOINT_MSTABLE=https://api.thegraph.com/subgraphs/name/mstable/mstable-protocol-ropsten

# Not actively maintained at the moment
REACT_APP_GRAPHQL_ENDPOINT_BALANCER=https://api.thegraph.com/subgraphs/name/balancer-labs/balancer-ropsten

# This is mainnet: no Uniswap Ropsten subgraph is actively maintained at the moment
REACT_APP_GRAPHQL_ENDPOINT_UNISWAP=https://api.thegraph.com/subgraphs/name/ianlapham/uniswapv2

REACT_APP_GRAPHQL_ENDPOINT_BLOCKS=https://api.thegraph.com/subgraphs/name/blocklytics/ropsten-blocks
REACT_APP_MTA_ADDRESS=0x273bc479e5c21caa15aa8538decbf310981d14c0
REACT_APP_MUSD_ADDRESS=0x4e1000616990d83e56f4b5fc6cc8602dcfd20459
REACT_APP_MUSD_SAVINGS_ADDRESS=0x300e56938454a4d8005b2e84eeffca002b3a24bc
REACT_APP_CHAIN_ID=3
REACT_APP_PORTIS_DAPP_ID=
REACT_APP_FORTMATIC_API_KEY=
REACT_APP_SQUARELINK_CLIENT_ID=
REACT_APP_RPC_API_KEY=YOUR_INFURA_KEY_GOES_HERE
REACT_APP_RPC_URL=https://ropsten.infura.io/v3/
REACT_APP_SENTRY_DSN=
