{
  "extends": [
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended",
    "plugin:unicorn/recommended",
    "prettier",
    "prettier/react",
    "prettier/@typescript-eslint"
  ],
  "env": {
    "node": true,
    "browser": true,
    "jest": true
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "@typescript-eslint/explicit-function-return-type": [
      "error",
      { "allowExpressions": true, "allowTypedFunctionExpressions": true }
    ],
    "@typescript-eslint/no-unused-vars": [
      "error",
      { "varsIgnorePattern": "_" }
    ],
    "arrow-body-style": ["error", "as-needed"],
    "import/prefer-default-export": "off",
    "import/no-default-export": "error",
    "react/prop-types": "off",
    "unicorn/prevent-abbreviations": "off",
    "unicorn/filename-case": [
      "error",
      {
        "case": "camelCase",
        "ignore": ["(.+).tsx"]
      }
    ]
  }
}
