[submodule "lib/mStable-subgraph"]
	path = lib/mStable-subgraph
	url = git@github.com:mstable/mStable-subgraph.git
[submodule "lib/graph-node"]
	path = lib/graph-node
	url = git@github.com:graphprotocol/graph-node.git
