[submodule "lib/mStable-subgraph"]
	path = lib/mStable-subgraph
	url = https://github.com/mstable/mStable-subgraph
[submodule "lib/graph-node"]
	path = lib/graph-node
	url = https://github.com/graphprotocol/graph-node
