version: 2.1
jobs:
  build:
    docker:
      - image: circleci/node:10.15.3
      - image: trufflesuite/ganache-cli
        command: ganache-cli -p 8545 --gasLimit 9000000
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "yarn.lock" }}
      - run:
          name: Install
          command: yarn install
      - run:
          name: Provision
          command: yarn provision
      - run:
          name: Codegen (TypeChain)
          command: yarn codegen:typechain
      - run:
          name: Lint
          command: yarn lint
      - run:
          name: Migrate
          command: yarn truffle:migrate
      - setup_remote_docker
      - run:
          name: Start subgraph
          command: |
            - cd ./lib/graph-node/docker
            - sh ./setup.sh
            - docker-compose up -d
      - run:
          name: Test
          command: yarn test
      - save_cache:
          key: dependency-cache-{{ checksum "yarn.lock" }}
          paths:
            - node_modules
