version: 2.1

executors:
  gcp:
    docker:
      - image: alsco77/node-gcp-dockerfile:njs12
    resource_class: large
  sentry:
    docker:
      - image: getsentry/sentry-cli:1.55.0
    resource_class: small

jobs:
  Build:
    executor: gcp
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "yarn.lock" }}
      - run:
          name: Install
          command: yarn
      - run:
          name: 'Provision'
          command: |
            yarn run provision
      - run:
          name: Codegen (TypeChain)
          command: yarn codegen:typechain
      - run:
          name: TypeScript
          command: yarn tsc --noEmit
      - run:
          name: Lint
          command: yarn lint
      - run:
          name: Test
          command: yarn test --passWithNoTests
      - run:
          name: Build
          command: yarn build
      - persist_to_workspace:
          root: ~/
          paths:
            - project/build
            - project/public
            - project/package.json
            - project/*
      - save_cache:
          key: dependency-cache-{{ checksum "yarn.lock" }}
          paths:
            - node_modules

  Deploy:
    executor: gcp
    steps:
      - attach_workspace:
          at: ~/
      - run:
          name: 'Deploy'
          command: |
            echo "Deploy to target GAE instance with project ID $GCP_PROJECT_ID"
            echo $GCP_KEY > /tmp/$CI_PIPELINE_ID.json
            gcloud auth activate-service-account --key-file /tmp/$CI_PIPELINE_ID.json
            gcloud config set project $GCP_PROJECT_ID
            gcloud --quiet app deploy app.yml
      - persist_to_workspace:
          root: ~/
          paths:
            - project/build
            - project/public
            - project/package.json
            - project/*

  Sentry:
    executor: sentry
    steps:
      - attach_workspace:
          at: ~/
      - run:
          name: 'Sentry release'
          command: |
            PACKAGE_VERSION=$(sed 's/.*"version": "\(.*\)".*/\1/;t;d' ./package.json)
            export SENTRY_RELEASE="$PACKAGE_VERSION-$(sentry-cli releases propose-version)"
            sentry-cli releases new -p $SENTRY_PROJECT $SENTRY_RELEASE
            sentry-cli releases set-commits --auto $SENTRY_RELEASE
            sentry-cli releases files $PACKAGE_VERSION upload-sourcemaps './build/static/js' --rewrite --url-prefix './build/static/js'
            sentry-cli releases finalize $SENTRY_RELEASE
            exit 0

workflows:
  version: 2.1

  Kovan:
    jobs:
      - Build:
          context:
            - mstable-app-kovan
      - Approve deploy:
          type: approval
      - Deploy:
          context:
            - mstable-kovan
            - mstable-app-kovan
          requires:
            - Build
            - Approve deploy

  Ropsten:
    jobs:
      - Approve build:
          type: approval
      - Build:
          context:
            - mstable-app-ropsten
          requires:
            - Approve build
      - Approve deploy:
          type: approval
          requires:
            - Approve build
      - Deploy:
          context:
            - mstable-ropsten
            - mstable-app-ropsten
          requires:
            - Build
            - Approve deploy

  Staging:
    jobs:
      - Approve build:
          type: approval
      - Build:
          context:
            - mstable-app-staging
          requires:
            - Approve build
      - Approve deploy:
          type: approval
          requires:
            - Approve build
      - Deploy:
          context:
            - mstable-staging
            - mstable-app-staging
          requires:
            - Build
            - Approve deploy

  Production:
    jobs:
      - Approve build:
          type: approval
      - Build:
          context:
            - mstable-app-production
          requires:
            - Approve build
      - Approve deploy:
          type: approval
          requires:
            - Approve build
      - Deploy:
          context:
            - mstable-app
            - mstable-app-production
          requires:
            - Build
            - Approve deploy
      - Sentry:
          requires:
            - Deploy
