version: 2.1

executors:
  gcp:
    docker:
      - image: alsco77/node-gcp-dockerfile:suite

jobs:
  build:
    executor: gcp
    resource_class: medium+
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "yarn.lock" }}
      - run:
          name: Install
          command: yarn
      - run:
          name: 'Provision (Mimic yarn provision)'
          command: |
            git submodule update --init
            cd ./lib/mStable-subgraph
            git submodule update --init
            yarn install
            yarn compile
      - run:
          name: Codegen (TypeChain)
          command: yarn codegen:typechain
      - run:
          name: TypeScript
          command: yarn tsc --noEmit
      - run:
          name: Lint
          command: yarn lint
      - run:
          name: Test
          command: yarn test --passWithNoTests
      - run:
          name: Build
          command: yarn build
      - persist_to_workspace:
          root: ~/
          paths:
            - project/build
            - project/public
            - project/*
      - save_cache:
          key: dependency-cache-{{ checksum "yarn.lock" }}
          paths:
            - node_modules
  deployStaging:
    executor: gcp
    steps:
      - attach_workspace:
          at: ~/
      - run:
          name: 'Deploy'
          command: |
            echo "Deploy to staging target GAE instance with project ID $S_GCP_PROJECT_ID"
            echo $S_GCP_KEY > /tmp/$CI_PIPELINE_ID.json
            gcloud auth activate-service-account --key-file /tmp/$CI_PIPELINE_ID.json
            gcloud config set project $S_GCP_PROJECT_ID
            gcloud --quiet app deploy app.yml
  deployProd:
    executor: gcp
    steps:
      - attach_workspace:
          at: ~/
      - run:
          name: 'Deploy'
          command: |
            echo "Deploy to prod target GAE instance with project ID $P_GCP_PROJECT_ID"
            echo $P_GCP_KEY > /tmp/$CI_PIPELINE_ID.json
            gcloud auth activate-service-account --key-file /tmp/$CI_PIPELINE_ID.json
            gcloud config set project $P_GCP_PROJECT_ID
            gcloud --quiet app deploy app.yml
workflows:
  version: 2.1
  staging:
    jobs:
      - build
      - Approval:
          type: approval
      - deployStaging:
          requires:
            - Approval
            - build
  prod:
    jobs:
      - Approval:
          type: approval
      - build:
          requires:
            - Approval
      - deployProd:
          requires:
            - build
