.container {

}

.deactivate {

}

.account {

}

.pendingIndicator {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: gold;
    margin-right: 10px;
}

.connected {
    display: flex;
    align-items: center;
}